[user]
	name = {{ .git.name }}
	email = {{ .git.email }}
[commit]
	verbose = true
[pull]
	rebase = false
[push]
	autoSetupRemote = true
[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
	st = status
[log]
	mailmap = true
[mailmap]
	file = {{ .chezmoi.homeDir }}/.config/git/mailmap
[include]
	path = ./local.gitconfig
{{- if lookPath "nvim" }}
[include]
	path = ./editor/nvim.gitconfig
{{- else if lookPath "vim" }}
	path = ./editor/vim.gitconfig
{{- end }}
{{- if .git.signingkey }}
[include]
	path = ./gpg.gitconfig
{{- end }}
{{- if lookPath "delta" }}
[include]
	path = ./delta.gitconfig
{{- end }}
