{{- if .git.signingkeyFile -}}
{{- $gitSigningKeyPath := expandenv .git.signingkeyFile -}}
{{- if hasPrefix "~/" $gitSigningKeyPath -}}
{{-   $gitSigningKeyPath = joinPath .chezmoi.homeDir (trimPrefix "~/" $gitSigningKeyPath) -}}
{{- end -}}
{{- if not (stat $gitSigningKeyPath) -}}
{{-   fail (printf "git.signingkeyFile does not exist: %s" $gitSigningKeyPath) -}}
{{- end -}}
[user]
	signingkey = {{ include $gitSigningKeyPath | trim | quote }}
[commit]
	gpgsign = true
[gpg]
	format = ssh
{{- end -}}
