[user]
    name = Long Wang
    email = wangl.cc@outlook.com
[filter "ignoreline"]
    clean = "sed '/ (git): ignore this line$/d'"
    smudge = cat
[pull]
    rebase = false
[diff]
    tool = $GIT_DIFF_TOOL
[merge]
    tool = $GIT_DIFF_TOOL
