.netrwhist
__pycache__
vim/plugged
vim/plugs.vim
vim/config.vim
vim/ftplugin/julia.vim
vim/autoload/plug.vim
vim/autoload/parse.jl
vim/autoload/parse_exec.jl
vim/autoload/juliadocstring.vim
vim/autoload/builddir
vim/autoload/plug.vim.old
vim/coc-settings.json
