# Ignore everything by default
*
# git files
!.gitignore
!.gitmodules

# editor config
!.editorconfig

# Repository files
!README.md
!LICENSE
!.github
!.github/workflows
!.github/workflows/*

# basic file structure
!.config
!.local
!.local/bin
!.local/share
!.local/share/man

# GnuPG
!.gnupg

# cargo
!.cargo

# yadm alternate files
!*##*
!.*##*

# Symbolic links
!.gitconfig
!install.sh

# FastFetch
!.config/fastfetch
!.config/fastfetch/config.*

# Fish Shell
!.fishrc
!.config/fish
!.config/fish/*
.config/fish/fish_variables

# atuin
!.config/atuin
!.config/atuin/config.toml

# Git
!.config/git
!.config/git/*
.config/git/config
.config/git/ignore

# iTerm2
!.config/iterm2
!.config/iterm2/com.googlecode.iterm2.plist

# dark mode notify
!.config/dark-mode-notify
!.config/dark-mode-notify/*
.config/dark-mode-notify/launchd.plist
!.local/bin/dark-mode-notify.swift
!.local/bin/Makefile

# hammerspoon
!.hammerspoon
!.hammerspoon/*
.hammerspoon/Spoons

# Julia
!.julia
!.julia/config
!.julia/config/startup.jl
!.config/julials
!.config/julials/compiler
!.config/julials/compiler/*
.config/julials/compiler/sys.*
!.config/julials/nvim_lsp
!.config/julials/nvim_lsp/*
.config/julials/*/Manifest.toml

# NeoVim
!.config/nvim
!.config/nvim/**
.config/nvim/minimal.lua
.config/nvim/parser
.config/nvim/parser-info

# Kitty
!.config/kitty
!.config/kitty/*

# MAA
!.config/maa
!.config/maa/cli.toml
!.config/maa/tasks/*
!.config/maa/infrast/*

# pip
!.config/pip
!.config/pip/pip.conf

# Starship
!.config/starship.toml

# YADM
!.config/yadm
!.config/yadm/*
!.config/yadm/bootstrap.d/*
!.local/share/yadm
!.local/share/yadm/archive
!.local/share/yadm/repo.git

# Utilities
!.local/bin/passwdgen
!.local/bin/fake-lua

# Dependencies
!.local/share/dotfiles
!.local/share/dotfiles/*
!.local/bin/yadm
!.local/bin/esh

# The global gitignore is overridden by the local ignores above
# like: .config/nvim/**, .config/fish/*
# so we need re-include the global gitignore here

# ============================= macOS ============================== #
# ================ gitignore/Global/macOS.gitignore ================ #

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# ============================== vim =============================== #
# ============= github/gitignore/Global/Vim.gitignore ============== #

# Swap
[._]*.s[a-v][a-z]
!*.svg  # comment out if you don't need vector files
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Session
Session.vim
Sessionx.vim

# Temporary
.netrwhist
*~
# Auto-generated tag files
tags
# Persistent undo
[._]*.un~
