[".config/bat/themes/catppuccin"]
type = "git-repo"
url = "https://github.com/catppuccin/bat.git"
refreshPeriod = "168h"
clone.args = ["--filter=blob:none"]
pull.args = ["--ff-only"]

[".config/git/delta"]
type = "git-repo"
url = "https://github.com/catppuccin/delta.git"
refreshPeriod = "168h"
clone.args = ["--filter=blob:none"]
pull.args = ["--ff-only"]

{{ if eq .chezmoi.hostname "Loongs-Macbook-Pro" -}}
["Library/Rime/rime-ice"]
type = "git-repo"
url = "https://github.com/iDvel/rime-ice.git"
refreshPeriod = "168h"
clone.args = ["--filter=blob:none"]
pull.args = ["--ff-only"]
{{ end -}}

{{/* Portable GitHub release packages. */}}
{{- $arch_aliases := dict "arm64" "aarch64" "amd64" "x86_64" }}
{{- $arch := default .chezmoi.arch (index $arch_aliases .chezmoi.arch) }}
{{- $target_name := printf "%s-%s" .chezmoi.os $arch }}
{{- $install_dir := .portable_pkgs.install_dir }}
{{- range $name, $tool := .portable_pkgs.tools }}
{{-   with index $tool.targets $target_name }}
{{-     with $resolved := get . "resolved" }}
{{-       $url := printf "https://github.com/%s/releases/download/%s/%s" $tool.repo (urlquery $tool.tag | replace "+" "%20") (urlquery $resolved.asset | replace "+" "%20") }}

{{-       if eq $tool.type "bundle" }}
[{{ printf ".local/share/portable-pkgs/%s" $name | quote }}]
type = "archive"
url = {{ $url | quote }}
exact = true
stripComponents = {{ $tool.strip_components }}
checksum.sha256 = {{ $resolved.sha256 | quote }}

{{-       else if eq $tool.type "file" }}
[{{ printf "%s/%s" $install_dir $tool.bin | quote }}]
type = "file"
url = {{ $url | quote }}
executable = true
checksum.sha256 = {{ $resolved.sha256 | quote }}

{{-       else }}
{{-         range $bin, $_ := $tool.bins }}
[{{ printf "%s/%s" $install_dir $bin | quote }}]
type = "archive-file"
path = {{ get $resolved.files $bin | quote }}
url = {{ $url | quote }}
executable = true
checksum.sha256 = {{ $resolved.sha256 | quote }}
{{-         end }}
{{-       end }}
{{-     end }}
{{-   end }}
{{- end }}
