#!/usr/bin/env bash

set -euo pipefail

# {{- $rustup := .toolchains.rustup }}
# {{- if and (ne $rustup "none") (ne $rustup "minimal") (ne $rustup "default") (ne $rustup "complete") }}
# {{-   fail "toolchains.rustup must be one of: none, minimal, default, complete" }}
# {{- end }}
# {{- if and (ne $rustup "none") (not (lookPath "rustup")) }}
echo "Installing rustup"
rustup_profile={{ $rustup | quote }}
curl -fsSL https://sh.rustup.rs | sh -s -- -y --no-modify-path --profile "$rustup_profile"
# {{- end }}
