#!/bin/bash

set -eufo pipefail

{{ $brew := joinPath .homebrew.prefix "bin/brew" }}

{{ if .mirrors.enabled }}
export HOMEBREW_BREW_GIT_REMOTE="{{ .homebrew.git_remote }}"
export HOMEBREW_API_DOMAIN="{{ .homebrew.api_domain }}"
export HOMEBREW_BOTTLE_DOMAIN="{{ .homebrew.bottle_domain }}"
{{ end }}

{{ if and (eq .chezmoi.os "darwin") (not (isExecutable $brew)) }}
echo "Homebrew is not installed. Installing at {{ .homebrew.prefix }}"
/bin/bash -c "$(curl -fsSL {{ .homebrew.install_script_url }})"
{{ end }}

{{ if isExecutable $brew }}
brew="{{ $brew }}"

brew bundle --file=/dev/stdin <<EOF
{{- range $pkg, $spec := .packages }}
{{ if hasKey $spec "brew" -}}
{{- if ne $spec.brew "" -}}
brew {{ $spec.brew | quote }}
{{- end -}}
{{- else -}}
brew {{ $pkg | quote }}
{{- end -}}
{{- end }}
EOF

{{ end }}
