#!/bin/bash

set -eufo pipefail

{{ $brew := joinPath .homebrew.prefix "bin/brew" }}

{{ if .mirrors.enabled }}
export HOMEBREW_BREW_GIT_REMOTE="{{ .homebrew.git_remote }}"
export HOMEBREW_API_DOMAIN="{{ .homebrew.api_domain }}"
export HOMEBREW_BOTTLE_DOMAIN="{{ .homebrew.bottle_domain }}"
{{ end }}

{{ if and (eq (env "CHEZMOI_AUTO_INSTALL_HOMEBREW") "1") (not (isExecutable $brew)) }}
echo "Homebrew is not installed. Installing at {{ .homebrew.prefix }}"
/bin/bash -c "$(curl -fsSL {{ .homebrew.install_script_url }})"
{{ end }}

{{ if isExecutable $brew }}
brew="{{ $brew }}"

brew bundle --file=/dev/stdin <<EOF
{{- range $pkg := .packages }}
{{- if and (hasKey $.registry "brew") (hasKey $.registry.brew $pkg) }}
brew {{ index $.registry.brew $pkg | quote }}
{{- else }}
brew {{ $pkg | quote }}
{{- end -}}
{{- end }}
EOF

{{ end }}
