#!/bin/bash

set -eufo pipefail

{{ $brew := joinPath .homebrew.prefix "bin/brew" }}

{{ if .mirrors.enabled }}
export HOMEBREW_BREW_GIT_REMOTE="{{ .homebrew.git_remote }}"
export HOMEBREW_API_DOMAIN="{{ .homebrew.api_domain }}"
export HOMEBREW_BOTTLE_DOMAIN="{{ .homebrew.bottle_domain }}"
{{ end }}

{{ if and (eq .chezmoi.os "darwin") (not (isExecutable $brew)) }}
echo "Homebrew is not installed. Installing at {{ .homebrew.prefix }}"
/bin/bash -c "$(curl -fsSL {{ .homebrew.install_script_url }})"
{{ end }}

{{ if isExecutable $brew }}
brew="{{ $brew }}"

{{ $common_formulae := list
  "starship"
  "eza"
  "zoxide"
  "ripgrep"
  "fd"
  "atuin"
  "bat"
  "bat-extras"
  "git-delta"
  "dust"
  "fzf"
  "lazygit"
  "fastfetch"
  "gh"
}}

{{ $linux_formulae := list }}
{{ $darwin_formulae := list "fish" }}

brew bundle --file=/dev/stdin <<EOF
{{- range ($common_formulae | sortAlpha | uniq) }}
brew "{{ . }}"
{{- end }}
{{- if eq .chezmoi.os "darwin" }}
{{- range ($darwin_formulae | sortAlpha | uniq) }}
brew "{{ . }}"
{{- end }}
{{- end }}
EOF

{{ end }}
