{{ if or (ne .chezmoi.os "linux") (not (get (get . "workspace" | default dict) "enabled")) }}
workspace.pod
box-base.build
dev-box.*
codex.*
kimi.*
dsh.*
caddy.*
secret-proxy.*
{{ end }}

{{ if or (ne .chezmoi.os "linux") (not (get (get . "smb" | default dict) "enabled")) }}
smb-box.*
{{ end }}
