{{ if not .services.development }}
workspace.network
development.env
box-base.build
dev-box*
claude-box*
codex.*
kimi.*
dsh.*
marimo.*
secret-proxy.*
{{ end }}

{{ if not .ingress.caddy }}
caddy.*
{{ end }}

{{ if not .ingress.cloudflared }}
cloudflared.*
{{ end }}

{{ if not .services.smb }}
smb-box.*
{{ end }}
