[Unit]
Description=My General Purpose Development Container

[Container]
Image=dev-box.build
ContainerName=my-dev-box

# Works with host more smoothly
Network=host
SecurityLabelDisable=true
UserNS=keep-id
Volume=%h:%h
Volume=/etc/localtime:/etc/localtime:ro
Tmpfs=/tmp

AddDevice=/dev/kfd
AddDevice=/dev/dri
Ulimit=memlock=-1:-1
SeccompProfile=unconfined
PodmanArgs=--ipc host

# Persist cache of dnf5
Volume=dev-box-dnf5-cache:/var/cache/libdnf5

# Persist the container's state; services store data in subdirectories
# (e.g. ssh/ holds the SSH host keys wired up by dev-box/tmpfiles.conf).
Volume=dev-box-data:/var/lib/dev-box

[Install]
WantedBy=default.target
