{{- $containerHome := printf "/home/%s" .chezmoi.username -}}
# Shared development tools and application configuration; paths are inside the containers.
PATH={{ $containerHome }}/.pnpm/bin:{{ $containerHome }}/.cargo/bin:{{ $containerHome }}/.local/bin:/usr/local/bin:/usr/bin
LD_LIBRARY_PATH={{ $containerHome }}/.local/lib
PNPM_HOME={{ $containerHome }}/.pnpm
XDG_CONFIG_HOME={{ $containerHome }}/.config
XDG_DATA_HOME={{ $containerHome }}/.local/share
WAKATIME_HOME={{ $containerHome }}/.config/wakatime
