[Unit]
Description=Kimi Web Container
Requires=ssh-agent.socket
Wants=ssh-agent-load.service
After=ssh-agent-load.service

[Container]
Image=box-base.build
ContainerName=kimi
RunInit=true
User=%u
WorkingDir=/home/%u
Exec=/home/%u/.local/bin/kimi web --no-open --host 127.0.0.1 --port 58627 --dangerous-bypass-auth --allowed-host kimi.{{ .device.domain }}

Pod=workspace.pod
SecurityLabelDisable=true
Volume=/etc/localtime:/etc/localtime:ro
Tmpfs=/tmp

Volume=%t/ssh-agent.socket:/run/ssh-agent.socket
Environment=SSH_AUTH_SOCK=/run/ssh-agent.socket

Volume=%h:/home/%u
Volume=%h/.config/secret-proxy/gitconfig:/etc/gitconfig:ro
Mask=/home/%u/.local/share/containers:/home/%u/.local/share/zed/server_state:/home/%u/.config/secret-proxy/credentials
Volume=kimi-web-box-ssh:/home/%u/.ssh:U

[Service]
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
