{{- $hosts := list "kimi" -}}
{{- if .ingress.caddy -}}
{{- $hosts = append $hosts (printf "kimi.%s" .device.domain) -}}
{{- end -}}
{{- if .ingress.cloudflared -}}
{{- $hosts = append $hosts (printf "kimi-%s" .device.domain) -}}
{{- end -}}
# Web deployment Host allowlist, loaded by the adjacent kimi.container.
KIMI_CODE_ALLOWED_HOSTS={{ join "," $hosts }}
