{{- if .mirrors.enabled }}
[source.crates-io]
replace-with = "{{ .mirrors.crates_io.name }}"

[source.{{ .mirrors.crates_io.name }}]
registry = "{{ .mirrors.crates_io.url }}"

[registries.{{ .mirrors.crates_io.name }}]
index = "{{ .mirrors.crates_io.url }}"

{{ end -}}
[profile.release]
codegen-units = 1
lto = "fat"

[profile.bench]
codegen-units = 1
lto = "fat"

[build]
rustflags = ["-Ctarget-cpu=native"]
