tunnel: {{ .cloudflared.tunnel_id | quote }}
credentials-file: /run/credentials/cloudflared-credentials

ingress:
  - hostname: dsh-{{ .device.domain }}
    service: http://dsh:3080
    originRequest:
      access:
        required: true
        teamName: {{ .cloudflared.access_team | quote }}
        audTag:
          - {{ .cloudflared.access_aud | quote }}

  - hostname: kimi-{{ .device.domain }}
    service: http://kimi:58627
    originRequest:
      access:
        required: true
        teamName: {{ .cloudflared.access_team | quote }}
        audTag:
          - {{ .cloudflared.access_aud | quote }}

  - service: http_status:404
