"$schema" = "https://github.com/MaaAssistantArknights/maa-cli/raw/main/crates/maa-cli/schemas/cli.schema.json"

[cli]
channel = "Alpha"

[core]
channel = "Beta"
{{ if .in_china }}
api_url = "https://github.com/MaaAssistantArknights/MaaRelease/raw/main/MaaAssistantArknights/api/version/"
test_time = 0
{{- end }}

[resource]
backend = "git"

[resource.remote]
url = "git@github.com:MaaAssistantArknights/MaaResource.git"
use_ssh_agent = true
