{{ with get .device "tailscale_ipv4" -}}
[Container]
PublishPort={{ . }}:443:8443

[Service]
ExecStartPre=/usr/bin/tailscale wait --timeout=90s
ExecStartPre=/usr/bin/tailscale ip --assert={{ . }}
{{ end -}}
